body {
  margin: 0;
  padding: 0;
}

.MeetTeam {
  background-color: deepskyblue;
  color: white;
  font-family: "Comic Sans MS";
  padding: 5px;
  text-align: center;
}

.divPhotos {
  background-color: lightgreen;
  padding: 10px;
  text-align: center;
}

.titleDescription,.Title{
  margin-bottom: 75px;
}

footer{
  text-align: center;
  color: black;
  font-family: "Comic Sans MS";
}

header{
  text-align: center;
  background-color: deepskyblue;
  border-radius: 2px 10px;
}
